<ion-header>
  <ion-toolbar>
    <ion-title>
      test1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <h3>test1</h3>
    <ion-button (click)='presentAlert()'>Alert test</ion-button>
  <h3>test2</h3>
    <ion-button (click)='checkPermission()'>Get SMS PERMISSION</ion-button>
    <ion-button (click)='ReadSMSList()'>Get Last SMS</ion-button>
  <h3>test3</h3>
    <!-- <ion-button (click)='listenForSMS()'>Start Listening for SMS</ion-button>
    <ion-button (click)='toggleReply()'>Turn On AUTOREPLY</ion-button>
    <ion-button (click)='enableBackgroundMode()'>Enable Background Mode</ion-button> -->
    <ion-item>
      <ion-label>Listen for SMS</ion-label>
      <ion-toggle disabled="false" [(ngModel)]="startListening" (ionChange)='listenForSMS()'></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>AUTOREPLY</ion-label>
      <ion-toggle disabled="false" [(ngModel)]="replyToSms"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Background Mode</ion-label>
      <ion-toggle disabled="false" [(ngModel)]="bgm" (ionChange)='enableBackgroundMode()'></ion-toggle>
    </ion-item>
  <h3>test4</h3>
    <ion-item>
      <ion-input required type="text" placeholder="message" [(ngModel)]="newReplyMsg"></ion-input>
      <ion-button (click)='changeMessageWithButton()'>Change Reply Message</ion-button>
    </ion-item>

</ion-content>
